<header>
    <h1>Equipo de Desarrollo de Aplicaciones Multiplataforma</h1>
</header>
<div class="container">
    <h2>Sobre Nosotros</h2>
    <p>Somos un equipo de cuatro estudiantes apasionados por el desarrollo de aplicaciones multiplataforma. Hemos estudiado en CF Somorrostro y hemos unido nuestras habilidades para crear una página web dedicada al seguimiento del ejercicio y la salud de
        las personas.</p>
    <p>En nuestra plataforma, ofrecemos servicios para crear rutinas de ejercicio personalizadas, dietas adaptadas a las necesidades individuales y otras herramientas relacionadas con la salud y el bienestar.</p>
    <h2>Integrantes del Equipo</h2>
    <ul>
        <li>Erlantz Gomez de Salazar Cornejo SanLuque SanRoman Vallejo Belmonte</li>
        <li>Nxtu Segura</li>
        <li>Nombre Apellido3</li>
        <li>Nombre Apellido4</li>
    </ul>
    <p>¡Gracias por visitar nuestra página!</p>
</div>