<ul class="navbar-nav float-end">
    <li class="nav-item" placement="bottom-end" *ngIf="token===null">
        <a class="nav-link waves-effect waves-dark pro-pic" href="/login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/images/users/user1.jpg" alt="user" class="rounded-circle" width="45" height="45" />
            <span class="ms-2">Login</span>
        </a>
    </li>
    <li class="nav-item" ngbDropdown placement="bottom-end" *ngIf="token!==null">
        <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img *ngIf="perfilUsuario" src="{{perfilUsuario}}" alt="user" class="rounded-circle" width="45" height="45" />
            <img *ngIf="!perfilUsuario" src="assets/images/users/user1.jpg" alt="user" class="rounded-circle" width="45" height="45" />
            <span class="ms-2">{{nombreUsuario}}</span>
        </a>
        <div class="dropdown-menu-right" ngbDropdownMenu>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="datosPersonales()"> Datos personales</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="dieta()"> Dieta</a>
            <a class="dropdown-item" (click)="actividadFisica()"> Actividad física</a>
            <a class="dropdown-item" (click)="suenio()"> Sueño</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="objetivos()"> Objetivos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
    </li>
</ul>
