<div [ngClass]="theme === 'dark' ? 'dark-theme' : 'light-theme'" class="login-container">
    <h2> INICIO DE SESIÓN </h2>
    <br>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
            <label for="username">E-mail:</label>
            <input type="text" id="username" class="form-control" placeholder="Enter email" formControlName="email">
            <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">El email es obligatorio</div>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" class="form-control" placeholder="Enter password" formControlName="contrasenia">
            <div class="error-message" *ngIf="loginForm.get('contrasenia')?.touched && loginForm.get('contrasenia')?.hasError('required')">La contraseña es obligatoria</div>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        <br>
        <div class="form-group text-center">
            <a href="javascript:void(0);" (click)="olvidarContrasenia()">¿Has olvidado la contraseña?</a>
        </div>
    </form>
    <hr>
    <div class="register-link">
        <p>¿Todavía no tienes cuenta? <a href="/registro">Regístrate aquí</a></p>
    </div>
</div>