<div [ngClass]="theme === 'dark' ? 'dark-theme' : 'light-theme'" class="container container-lg">
    <h2 class="text-center">{{ agregar ? 'AÑADIR' : 'MODIFICAR' }}</h2>
    <br>
    <form [formGroup]="datosCorporalForm" (ngSubmit)="crud()">
        <div class="col-md-6" style="width: 100%; padding: 3%;">
            <div class="form-group" style="align-items: center;">
                <label for="Altura">ALTURA</label>
                <input *ngIf="agregar" type="number" id="altura" class="form-control" placeholder="Introduce tu altura en cm" formControlName="altura">
                <input *ngIf="!agregar" type="number" id="altura" class="form-control" placeholder="Introduce tu altura en cm" formControlName="altura" [(ngModel)]="altura">
            </div>
            <br>
            <div class="form-group">
                <label for="Peso">PESO</label>
                <input *ngIf="agregar" type="number" id="peso" class="form-control" placeholder="Introduce tu peso en kg" formControlName="peso">
                <input *ngIf="!agregar" type="number" id="peso" class="form-control" placeholder="Introduce tu peso en kg" formControlName="peso" [(ngModel)]="peso">
                <div class="error-message" *ngIf="datosCorporalForm.get('peso')?.touched && datosCorporalForm.get('peso')?.hasError('required')">El peso es requerido</div>
            </div>
            <br>
            <div class="form-group">
                <label for="Fecha">FECHA</label>
                <input *ngIf="agregar" type="date" id="fecha" class="form-control" placeholder="Introduce la fecha del registro" formControlName="fecha">
                <input *ngIf="!agregar" type="date" id="fecha" class="form-control" placeholder="Introduce la fecha del registro" formControlName="fecha" [(ngModel)]="datoCorporal.item4">
            </div>
        </div>
        <br>
        <div *ngIf="agregar">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
        <div *ngIf="!agregar" class="botones">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
        </div>
    </form>
</div>