<form [formGroup]="rutinaForm" action="">
    <div class="card" style="padding: 20px;" *ngFor="let ejercicio of getRange()">
        <div class="form-group formularioRutina">
            <div>
                <input type="text" formControlName="ejercicio" [matAutocomplete]="auto" placeholder="Ejercicio">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let opcion of filteredOptions | async" [value]="opcion">
                        {{ opcion }}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div>
                <input type="number" placeholder="Series">
            </div>
            <div>
                <input type="number" placeholder="Repeticiones">
            </div>
            <div>
                <input type="number" placeholder="Peso (kg)">
            </div>
            <div>
                <input [(ngModel)]="date" type="text" placeholder="(AA-MM-DD)" formControlName="fecha">
            </div>
        </div>
    </div>

    <div class="card" style="padding: 20px;"><button (click)="agregarRutina()" class="btn btn-primary">Agregar</button></div>

</form>