:host {
    display: block;
}

.input-style {
    width: 100%;
    background-color: white;
    /* Establece el color de fondo como blanco */
}

.formularioRutina {
    display: flex;
    justify-content: space-around;
}

.error-message {
    color: red;
    font-size: 10px;
}

@import '~bootstrap/dist/css/bootstrap.css';
