<div class="cliente-card">
    <div *ngIf="imagenUsuario !== null"><img class="image" src="{{ imagenUsuario }}" alt=""></div>
    <div><strong>DNI:</strong> {{ dni }}</div>
    <div><strong>Nombre:</strong> {{ nombre }}</div>
    <div><strong>Apellidos:</strong> {{ apellidos }}</div>
    <div><strong>Correo Electrónico:</strong> {{ correo }}</div>
    <button (click)="cambiarContrasenia()">Cambiar Contraseña</button>
    <button>Editar Datos</button>
    <button (click)="eliminarCuenta()">Eliminar Cuenta</button>
</div>