.mat-tab-label {
    display: flex;
    align-items: center;
}

.mat-tab-label-content {
    margin-right: 8px;
    /* Ajusta el margen entre la etiqueta y el contenido */
}

.tab-container {
    position: relative;
    width: 100%;
    height: auto;
}

.tab-group {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}

.cliente-card {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 24px;
    width: 470px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.wider-card {
    width: 700px;
}

.cliente-card div {
    margin-bottom: 12px;
    font-size: 16px;
    text-align: left;
}

.cliente-card button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 12px;
    font-size: 14px;
}

.cliente-card button:hover {
    background-color: #0056b3;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@media (max-width: 800px) {
    .wider-card {
        width: 500px;
    }
}
