.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}

.cliente-card {
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 24px;
    width: 800px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cliente-card div {
    margin-bottom: 12px;
    font-size: 16px;
    text-align: left;
}

.cliente-card button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 12px;
    font-size: 14px;
}

.cliente-card button:hover {
    background-color: #0056b3;
}

.image {
    display: flex;
    justify-content: center;
    height: 300px;
}

img {
    height: 100%;
}

.title {
    font-size: 80px;
}

@media (max-width: 800px) {
    .wider-card {
        width: 500px;
    }
}