<div class="tab-content">
    <div class="cliente-card">
        <div>
            <div>
                <h1><strong>{{nombreEjercicio}}</strong></h1>
            </div>
            <div><strong>Músculo a ejercitar:</strong> {{musculoEjercicio}}</div>
            <div><strong>Descripción: </strong>{{descripcionEjercicio}}</div>
            <div><strong>Quema calorica: </strong> {{quemaEjercicio}}</div>
            <div><strong>Mets del ejercicio: </strong> {{metsEjercicio}}</div>
        </div>
        <div class="image">
            <img src="{{imagenEjercicio}}" alt="">
        </div>
    </div>
</div>