:host {
    display: block;
}

.spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.container-progress {
    display: flex;
    flex-direction: column;
}

.text-recomendacion {
    position: absolute;
    margin-right: 5%;
    margin-left: -5%;
}

.label-y-recomendacion {
    display: flex;
    justify-content: space-between;
}

.circulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barras-progreso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    height: 50px;
    width: 40%;
}

.texto-barra {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progressbar {
    width: 95%;
}

mat-progress-bar {
    height: 20px;
}

.informacion {
    margin-top: 30px;
}
