<div style="width: 80%; margin: 20px auto;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="titulo-y-botones">
                            <div>
                                <h1 style="font-weight: bold;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' | uppercase }}</h1>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary" (click)="irMesAnterior()">
                                  Anterior
                                </button>
                                <button class="btn btn-outline-secondary" (click)="irHoy()">
                                    Hoy
                                </button>
                                <button class="btn btn-primary" (click)="irSiguienteMes()">
                                  Siguiente
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;">
                            <mwl-calendar-month-view class=" angular-calendar" [viewDate]="viewDate" [weekStartsOn]="1" (dayClicked)="onDayClick($event)" [events]="diasDeEjercicio"></mwl-calendar-month-view>
                        </div>
                        <div class="colores-ejercicios">
                            <div>
                                Ejercicios de fuera:
                                <button disabled style="background-color: #1e90ff;"></button>
                            </div>
                            <div>
                                Ejercicios de cardio:
                                <button disabled style="background-color: #e3bc08;"></button>
                            </div>
                            <div>
                                Sueño:
                                <button disabled style="background-color: #800080;"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalContent let-close="close">
    <mat-tab-group class="tab-group">
        <mat-tab label="Fuerza" *ngIf="fechaContieneFuerza">
            <div class="modal-body">
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Ejercicio</th>
                                <th>Series</th>
                                <th>Repeticiones</th>
                                <th>Peso añadido</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let ejercicio of fechaData">
                            <tr *ngIf="ejercicio.ejercicio.tipo === 1">
                                <td>{{ ejercicio.ejercicio.nombre }}</td>
                                <td>{{ ejercicio.series }}</td>
                                <td>{{ ejercicio.repeticiones }}</td>
                                <td>{{ ejercicio.peso }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <p>Kcal quemadas en el entrenamiento de fuerza: <b>{{ kcalFuerza | number:'1.2-2' }}</b></p>
                <p>Las kcal indicadas son a la hora de la realización de los ejercicios (sin contar descansos), sin embargo, en la tabla de abajo se indica un aproximado por hora</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
            </div>
        </mat-tab>
        <mat-tab label="Cardio" *ngIf="fechaContieneCardio">
            <div class="modal-body">
                <div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Ejercicio</th>
                                    <th>Duración</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let ejercicio of fechaData;">
                                <tr *ngIf="ejercicio.ejercicio.tipo === 0">
                                    <td>{{ ejercicio.ejercicio.nombre }}</td>
                                    <td>{{ ejercicio.tiempo }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <p>Kcal quemadas en el entrenamiento de fuerza: <b>{{ kcalCardio | number:'1.2-2' }}</b></p>
                <p>Las kcal quemadas son calculadas teniendo en cuenta que el ejercicio se ha llevado a cabo con una intensidad media - alta</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
            </div>
        </mat-tab>
        <mat-tab label="Sueño" *ngIf="fechaContieneSuenio">
            <div class="modal-body">
                <h2>Detalles del Sueño</h2>
                <ul>
                    <li><strong>Hora de Acostarse:</strong> {{ suenioActual?.horaAcostar | date:'HH:mm:ss' }}</li>
                    <li><strong>Hora de Levantarse:</strong> {{ suenioActual?.horaLevantar | date:'HH:mm:ss' }}</li>
                    <li><strong>Calidad del Sueño:</strong> {{ suenioActual?.calidad | titlecase }}</li>
                    <li><strong>Número de Veces Levantado:</strong> {{ suenioActual?.numLevantar }}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</ng-template>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Kcal quemadas por hora según los pesos corporales (datos aproximádos)</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Peso corporal (kg)</th>
                            <th>Calorías quemadas por hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>50</td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>350</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>450</td>
                        </tr>
                        <tr>
                            <td>100</td>
                            <td>500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>